if items && items.length > 0
	.table-responsive
		table.table.table-striped.table-sm
			thead
				tr
					th Name
						| 
						span.fas.fa-angle-up.text-muted
					th Availability
					th
			tbody
				for item in items
					tr
						td=item.name
						td #{item.available} / #{item.stock}
						td
							.progress
								- percent = (item.available / item.stock) * 100
								- percentage = `${Math.round(percent)}%`
								.progress-bar(style=`width: ${percentage}` class=(percent <= 25 ? 'bg-danger' : (percent <= 50 ? 'bg-warning' : 'bg-success')))=percentage
else
	+messageBlock('warning', 'black', 'There are no items to display.')
