hr
form( method="get" )
	.row
		input( type="hidden", name="sortby", value=sortby )
		input( type="hidden", name="direction", value=direction )
		.form-group.col-lg-2
			label( for="status" ) Status
			select( name="status" )#status.form-control.input-sm
				option( value="", selected )
				option(disabled) ──────────
				option( value='active', selected=( selected.status == 'active' ) ) Active
				option( value='disabled', selected=( selected.status == 'disabled' ) ) Disabled
		.form-group.col-lg-2
			label( for="course" ) Course
			select( name="course" )#group.form-control.input-sm
				option( value="", selected )
				option(disabled) ──────────
				for course in courses
					option( value=course.id, selected=( course.id == selected.course ) ) #{ course.name }
		.form-group.col-lg-2
			label( for="year" ) Year
			select( name="year" )#year.form-control.input-sm
				option( value="", selected )
				option(disabled) ──────────
				for year in years
					option( value=year.id, selected=( year.id == selected.year ) ) #{ year.name }
		.col-lg-2.offset-lg-4
			div( style="padding-top: 1.8em;" )
				a( href="/users?clear=" ).btn.btn-outline-dark.btn-sm.float-right
					span.fas.fa-times
					|  Clear
				button( style="margin-right: 1em;" ).btn.btn-outline-primary.btn-sm.float-right
					span.fas.fa-filter
					|  Filter
