form(method="post")
	+csrf

	.form-group.row.mb-3
		label(for="barcode").col-lg-2.col-form-label Barcode
		.col-lg-4
			input#barcode(name="barcode" type="text" value=user.barcode autocomplete="off" required).form-control
	
	.form-group.row.mb-3
		label(for="name").col-lg-2.col-form-label Name
		.col-lg-4
			input#name(name="name" type="text" value=user.name required).form-control
	
	.form-group.row.mb-3
		label(for="email").col-lg-2.col-form-label Email
		.col-lg-4
			input#email(name="email" type="text" required value=user.email autocomplete="off").form-control
	
	.form-group.row.mb-3
		label(for="course").col-lg-2.col-form-label Course
		.col-lg-4
			select#course(name="course").form-control.form-select
				option(value="" disabled selected) Select a course
				for course in courses
					option(value=course.id selected=(course.id == user.course_id))=course.name
	
	.form-group.row.mb-3
		label(for="year").col-lg-2.col-form-label Year
		.col-lg-4
			select#year(name="year").form-control.form-select
				option(value="" disabled selected) Select a year
				for year in years
					option(value=year.id selected=(year.id == user.year_id))=year.name
	
	if action == 'Update'
		.form-group.row.mb-3
			.col-lg-4.offset-lg-2
				.checkbox
					label(for="disable")
						input#disable(name="disable" type="checkbox" checked=user.disable)
						|  Disable User
	
	if currentUserCan({or:['users_change_password','users_change_role']})
		if action == 'Update'
			.page-header
				h3.mb-3.pb-3.border-bottom Login Details
				
			if currentUserCan('users_change_role')
				.form-group.row.mb-3
					label(for="role").col-lg-2.col-form-label Role
					.col-lg-4
						select#role(name="role").form-control.form-select
							option(value="" selected) Select a role
							for role in roles
								option(value=role.id selected=(role.id == user.role_id))=role.name
				
			if currentUserCan('users_change_password')
				.form-group.row.mb-3
					label(for="password").col-lg-2.col-form-label Change Password
					.col-lg-4
						input#password(name="password" type="password").form-control
		//- .page-header
			h3 Preferences

		//- .form-group.row.mb-3
			label(for="printer").col-lg-2.col-form-label Printer
			.col-lg-4
				select#printer(name="printer").form-control.form-select
					option(value="") None
					for printer in printers
						option(value=printer.id selected=(printer.id == user.printer_id))=printer.name

		//- .form-group.row.mb-3
			label(for="audit_point").col-lg-2.col-form-label Audit Point
			.col-lg-4
				input#audit_point(name="audit_point" type="datetime-local" value=moment(user.audit_point).format('YYYY-MM-DDTHH:MM')).form-control
	
	.form-group.row.mb-3
		.col-lg-4.offset-lg-2
			button(type="submit").btn.btn-primary=action
