dl.dl-horizontal
	dt Barcode
	dd: span( data-clipboard-text=user.barcode ).clipboard=user.barcode
	dt Course
	dd
		if user.course_id
			a( href="/courses/" + user.course_id + '/edit' )=user.course_name
		else
			| &mdash;
	dt Year
	dd
		if user.year_id
			| #{ user.year_name }
		else
			| &mdash;
			
	if user.course_contact_id
		dt Staff Contact
		dd: a( href="/users/" + user.course_contact_id )=user.course_contact_name
	dt Email
	dd: a( href="mailto:" + user.email )=user.email
	dt Status
	dd
		if user.disable
			| Disabled
		else
			| Active
	dt Type
	dd
		if user.type == 'admin'
			| Admin
		else
			| User
	if user.pw_attempts > 0
		dt Password Attempts 
		dd=user.pw_attempts
			if user.pw_attempts >= config.pw_tries
				|  (Locked Out) – 
				a( href=`/users/${user.id}/reset` ) Reset
