if users && users.length > 0
	.table-responsive
		table.table.table-striped
			thead
				tr
					if edit
						th
							input( type="checkbox", title="Check All", checked=edit_users ).checkall
					if multi
						th Name
					else
						th
							+sortUserHead( 'Name', 'name', sortby, direction, selected )
					if multi
						th Course
					else
						th
							+sortUserHead( 'Course', 'course', sortby, direction, selected )
					if multi
						th Year
					else
						th
							+sortUserHead( 'Year', 'year', sortby, direction, selected )
					if multi
						th Barcode
							span.dropup
								span.caret
					else
						th
							+sortUserHead( 'Barcode', 'barcode', sortby, direction, selected )
					th
						| Email
					th
						| Manage
			tbody
				for user in users
					tr
						if edit
							td: input( type="checkbox", name="edit", value=user.id, checked=multi )
						td
							a( href="/users/" + user.id )=user.name
							|  
							include label.pug
						if ! no_course
							td
								if user.course_id
									a( href="/courses/" + user.course_id + "/edit" )=user.course_name
								else
									| &mdash;
						td
							if user.year_id
								a( href="/years/" + user.year_id + "/edit" )=user.year_name
							else
								| &mdash;
						td
							span( data-clipboard-text=user.barcode ).clipboard=user.barcode
						td
							a( href="mailto:" + user.email )=user.email
						td
							a( href="/users/" + user.id + '/edit' ).btn.btn-xs.btn-primary
								span.glyphicon.glyphicon-pencil
								|  Edit
							|  
							a( href="/users/" + user.id + '/remove' ).btn.btn-xs.btn-danger
								span.glyphicon.glyphicon-trash
								|  Delete
else
	+messageBlock( 'warning', 'There are no users to display.' )
