form( method="post" ).form-horizontal
	.form-group
		label( for="barcode" ).col-md-2.control-label Barcode
		.col-md-4
			input( name="barcode" type="text" value=user.barcode autocomplete="off" required )#barcode.form-control
	.form-group
		label( for="name" ).col-md-2.control-label Name
		.col-md-4
			input( name="name" type="text" value=user.name required )#name.form-control
	.form-group
		label( for="email" ).col-md-2.control-label Email
		.col-md-4
			input( name="email" type="text" required value=user.email autocomplete="off" )#email.form-control
	.form-group
		label( for="course" ).col-md-2.control-label Course
		.col-md-4
			select( name="course" )#course.form-control
				option( value="" disabled selected ) Select a course
				for course in courses
					option( value=course._id selected=( course.id == user.course ) )=course.name
	if action == 'Update'
		.form-group
			.col-md-4.col-md-offset-2
				.checkbox
					label( for="disable" )
						input( name="disable" type="checkbox" checked=user.disable )#disable
						| Disable User
	
	.page-header
		h3 Login Details
	.form-group
		label( for="type" ).col-md-2.control-label Type
		.col-md-4
			select( name="type" )#type.form-control
				option( value="student" selected=( user.type == 'student' ) ) User
				option( value="staff" selected=( user.type == 'staff' ) ) Admin
	if action == 'Update'
		.form-group
			label( for="password" ).col-md-2.control-label Password
			.col-md-4
				input( name="password" type="password" )#password.form-control
	if action == 'Update'
		.page-header
			h3 Preferences
		.form-group
			label( for="printer" ).col-md-2.control-label Printer
			.col-md-4
				select( name="printer" )#printer.form-control
					option( value="" ) None
					for printer in printers
						option( value=printer._id selected=( printer.id == user.printer ) )=printer.name
		.form-group
			label( for="audit_point" ).col-md-2.control-label Audit Point
			.col-md-4
				input( name="audit_point" type="datetime-local" value=moment( user.audit_point ).format( 'YYYY-MM-DDTHH:MM' )  )#audit_point.form-control
	hr
	.form-group
		.col-md-4.col-md-offset-2
			button( type="submit" ).btn.btn-primary=action
