extends ../../../src/views/base.pug

block prepend title
	- title = 'Set Permissions'
	- breadcrumb.push({name: role.name})
	- breadcrumb.push({name: 'Set Permissions'})
	- menu = 'roles'

block buttons 
	+search

block contents
	form(method="post")
		+csrf
		.table-responsive
			table.table.table-striped.table-sm
				tgroup
					col(width='5%')
					col(width='15%')
					col(width='80%')
				thead
					tr
							th
								input(type="checkbox", title="Check All", checked=edit_items).checkall
							th Key
							th Description
				tbody
					for desc, key in all_permissions
						tr
							td
								input(name='permissions' type='checkbox' checked=(selected_perms.includes(key)?true:false) value=key id=key)
							td(data-searchable=key): label(for=key).mb-0=key
							td(data-searchable=desc)=desc
		.form-group
			button(type="submit").btn.btn-primary Set
			|  
			a(href="/roles").btn.btn-outline-secondary Cancel
