extends ../../../src/views/base.pug

block prepend title
	- title = "Process Items"
	- breadcrumb.push({name: 'Import'})
	- breadcrumb.push({name: 'Process'})
	- menu = 'items'

block contents	
	p Please check or match up the column headings with the data, you must provide a name and unique barcode for each line.
	
	form(method="post" action="/items/import")
		+csrf
		h4 Data
		.table-responsive
			table.table.table-striped.table-sm
				for row, y in data
					if y == 0
						thead
							tr
								for col, x in row
									th
										select(name='cols[]').form-control
											- col = col.toLowerCase()
											option(value='') Ignore
											option(disabled) ──────────
											option(value='name' selected=(col=='name'?true:false)) Name
											option(value='barcode' selected=(col=='barcode'?true:false)) Barcode
											option(value='label' selected=(col=='label'?true:false)) Label
											option(value='value' selected=(col=='value'?true:false)) Value
											option(value='serialnumber' selected=(col=='serial'?true:false)) Serial Number
											option(value='notes' selected=(col=='notes'?true:false)) Notes
											if col == 'group'
												- group_index = x
												option(value='group' selected=true) Group
											if col == 'location'
												- location_index = x
												option(value='location' selected=true) Location
											if col == 'department'
												- department_index = x
												option(value='department' selected=true) Department
					else
						tr
							for col, x in row
								td
									- displayed = false
									if x == group_index
										- displayed = true
										select(name=`items[${y}][]`).form-control
											- col = col.toLowerCase()
											option(value="") Unknown
											for group in groups
												option(value=group.id selected=(col==group.name.toLowerCase()?true:false))=group.name
									if x == location_index
										- displayed = true
										select(name=`items[${y}][]`).form-control
											- col = col.toLowerCase()
											option(value="") Unknown
											for location in locations
												option(value=location.id selected=(col==location.name.toLowerCase()?true:false))=location.name
													if location.barcode
														|  [#{location.barcode}]
									if x == department_index
										- displayed = true
										select(name=`items[${y}][]`).form-control
											- col = col.toLowerCase()
											option(value="") Unknown
											for department in departments
												option(value=department.id selected=(col==department.name.toLowerCase()?true:false))=department.name
									if ! displayed
										| #{col}
										input(type='hidden' name=`items[${y}][]` value=col)
										
		h4.mb-3.pb-1.border-bottom Categories
		.form-group.row
			label( for="group" ).col-sm-2.col-form-label Group
			.col-lg-4
				select( name="group" )#group.form-control
					option( value="" selected ) Select a group
					for group in groups
						option( value=group.id )=group.name
		.form-group.row
			label( for="location" ).col-sm-2.col-form-label Location
			.col-lg-4
				select( name="location")#location.form-control
					option( value="" disabled selected ) Select a location
					for location in locations
						option( value=location.id ) #{ location.name }
							if location.barcode
								|  [#{location.barcode}]
		.form-group.row
			label( for="department" ).col-sm-2.col-form-label Department
			.col-lg-4
				select( name="department")#department.form-control
					option( value="" selected ) Select a department
					for department in departments
						option( value=department.id )=department.name
		.form-group.offset-lg-2
				input( type="submit" value="Import" ).btn.btn-primary
