extends ../../../src/views/base.pug

block prepend title
	- title = item.name
	- breadcrumb.push({name: item.name})
	- menu = 'items'

block buttons
	if item.status != 'available'
		if currentUserCan('items_return')
			+btn('sm', 'outline-success', 'sign-in-alt', `Return`, `/items/${item.id}/return`, `Return ${item.name} [${item.barcode}]`)
	if currentUserCan({or: ['items_broken', 'items_lost', 'items_sold']})
		.dropdown.me-2
			button(type="button" data-bs-toggle="dropdown").btn.btn-outline-secondary.btn-sm.dropdown-toggle
				span.fas.fa-traffic-light
				|  Change Status
			.dropdown-menu.dropdown-menu-end
				if currentUserCan('items_broken')
					a( href="/items/" + item.id + "/broken", title=`Mark ${item.name} [${item.barcode}] as broken` ).dropdown-item
						span.fas.fa-heart-broken
						|  Broken
				if currentUserCan('items_lost')
					a( href="/items/" + item.id + "/lost", title=`Mark ${item.name} [${item.barcode}] as lost` ).dropdown-item
						span.fas.fa-compass
						|  Lost
				if currentUserCan('items_sold')
					a( href="/items/" + item.id + "/sold", title=`Mark ${item.name} [${item.barcode}] as sold` ).dropdown-item
						span.fas.fa-cash-register
						|  Sold
	if currentUserCan('print')
		.btn-group
			if loggedInUser.printer_id
				a.btn.btn-sm.btn-outline-secondary.me-2(href=`/items/${item.id}/label` title=`Print label for ${item.name}`)
					span.fas.fa-print
					|  Print Label
	.btn-group
		if currentUserCan('items_clone')
			+btn('sm', 'outline-success', 'clone', `Clone`, `/items/clone/${item.id}`, `Clone ${item.name} [${item.barcode}]`, 'me-0')
		if currentUserCan('items_edit')
			+btn('sm', 'outline-primary', 'pencil-alt', `Edit`, `/items/${item.id}/edit`, `Edit ${item.name} [${item.barcode}]`, 'me-0')
		if currentUserCan('items_remove')
			+btn('sm', 'outline-danger', 'trash-alt', `Remove`, `/items/${item.id}/remove`, `Remove ${item.name} [${item.barcode}]`, 'me-10')

block contents
	include partials/info.pug
	if currentUserCan('items_history')
		block history
			include partials/history.pug
