extends ../../../src/views/base.pug

block prepend title
	- title = item.name
	- heading = title
	- menu = "items"

block buttons
	if item.status != 'available'
		if currentUserCan('items_return')
			.btn-group.float-right(style='margin-left:.25em;')
				a( href="/items/" + item.id + "/return", title=`Return ${item.name}` ).btn.btn-outline-success.btn-sm
					span.fas.fa-sign-in-alt
					|  Return
	if currentUserCan({or: ['items_broken', 'items_lost', 'items_sold']})
		.dropdown.me-2
			button(type="button" data-toggle="dropdown").btn.btn-outline-secondary.btn-sm.dropdown-toggle
				span.fas.fa-traffic-light
				|  Change Status
			.dropdown-menu.dropdown-menu-right
				if currentUserCan('items_broken')
					a( href="/items/" + item.id + "/broken", title=`Mark ${item.name} as Broken` ).dropdown-item
						span.fas.fa-heart-broken
						|  Broken
				if currentUserCan('items_lost')
					a( href="/items/" + item.id + "/lost", title=`Mark ${item.name} as Lost` ).dropdown-item
						span.fas.fa-compass
						|  Lost
				if currentUserCan('items_sold')
					a( href="/items/" + item.id + "/sold", title=`Mark ${item.name} as Sold` ).dropdown-item
						span.fas.fa-cash-register
						|  Sold
	| &nbsp;
	if currentUserCan('print')
		.btn-group.float-right(style='margin-left:.25em;')
			include partials/print-btn.pug
		| &nbsp;
	.btn-group.float-right
		if currentUserCan('items_clone')
			a( href="/items/clone/" + item.id, title=`Clone ${item.name}` ).btn.btn-outline-success.btn-sm
				span.fas.fa-clone
				|  Clone
		if currentUserCan('items_edit')
			a( href="/items/" + item.id + "/edit", title=`Edit ${item.name}` ).btn.btn-outline-primary.btn-sm
				span.fas.fa-pencil-alt
				|  Edit
		if currentUserCan('items_remove')
			a( href="/items/" + item.id + "/remove", title=`Remove ${item.name}` ).btn.btn-outline-danger.btn-sm
				span.far.fa-trash-alt
				|  Remove

block contents
	include partials/info.pug
	if currentUserCan('items_history')
		block history
			include partials/history.pug
