block base
	include partials/mixins.pug
	doctype html
	html(lang="en" class=(fs?'fs':'') data-bs-theme="dark")
		head
			meta(charset="utf-8")
			meta(name="viewport", content="initial-scale=1.0, width=device-width, shrink-to-fit=no")
			link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
			link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
			link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
			link(rel="manifest" href="/site.webmanifest")
			block title
				title
					if title && title != app_title
						| #{title} &mdash; 
					if app_title && app_title != Options.get('application_name')
						| #{app_title} &mdash; 
					| #{Options.get('application_name')}
			block head
				block css
					link(rel="stylesheet", href="/tempusdominus/css/tempusdominus-bootstrap-4.min.css")
					link(rel="stylesheet", href="/css/style.css")
					link(rel="stylesheet", href="/fontawesome/css/solid.min.css")
					link(rel="stylesheet", href="/fontawesome/css/all.min.css")
				block js
					script(src="/jquery/jquery.min.js")
					script(src="/bootstrap/js/bootstrap.bundle.min.js")
					script(src="/moment/moment.min.js")
					script(src="/tempusdominus/js/tempusdominus-bootstrap-4.min.js")
					script(src="/clipboard/clipboard.min.js")
					script(src="/js/script.js")
					script(src="/js/search.js")
					script(src="/js/quicksearch.js")
					if kioskMode
						script(src="/js/kiosk.js")
		body(class=(dev ? 'dev' : '') class=(kioskMode ? 'kiosk' : ''))
			block navbar
				include partials/navbar.pug
			.container-fluid
				if loggedInUser && !kioskMode
					.row
						include partials/sidebar.pug
						main.col-12.col-lg-10.col-md-9.ms-auto
							block breadcrumb
								include partials/breadcrumb.pug
							include partials/body.pug
				else
					main.col-12
						include partials/body.pug
