include partials/mixins.pug
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0, width=device-width, shrink-to-fit=no")
		link(rel="shortcut icon" href="/imgs/favicon.ico")
		block title
			if title
				title #{title} &mdash; #{Options.get('application_name')}
			else
				title #{Options.get('application_name')}
		block head
			block css
				link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
				link(rel="stylesheet", href="/tempusdominus/css/tempusdominus-bootstrap-4.min.css")
				link(rel="stylesheet", href="/css/style.css")
				link(rel="stylesheet", href="/fontawesome/css/solid.min.css")
				link(rel="stylesheet", href="/fontawesome/css/all.min.css")
			block js
				script(src="/jquery/jquery.min.js")
				script(src="/bootstrap/js/bootstrap.bundle.min.js")
				script(src="/moment/moment.min.js")
				script(src="/tempusdominus/js/tempusdominus-bootstrap-4.min.js")
				script(src="/clipboard/clipboard.min.js")
				script(src="/js/script.js")
				if kioskMode
					script(src="/js/kiosk.js")
	body(class=(dev ? 'dev' : '') class=(kioskMode ? 'kiosk' : ''))
		block navbar
			include partials/navbar.pug
		div.container-fluid
			if loggedInUser && !kioskMode
				.row
					include partials/sidebar.pug
					main.col-md-9.ml-sm-auto.col-lg-10.px-md-4
						include partials/body.pug
			else
				main.col-md-12
					include partials/body.pug
