include partials/mixins.pug
doctype html
html
	head
		meta( charset="utf-8" )
		meta( name="viewport", content="initial-scale=1.0, width=device-width, shrink-to-fit=no" )
		link( rel="shortcut icon" href="/imgs/favicon.ico" )
		block title
			if title
				title #{ title } &mdash; #{config.app_name}
			else
				title=config.app_name
		block head
			block css
				link( rel="stylesheet", href="/bootstrap/css/bootstrap.min.css" )
				link( rel="stylesheet", href="/css/style.css" )
				link( rel="stylesheet", href="/fontawesome/css/solid.min.css" )
				link( rel="stylesheet", href="/fontawesome/css/all.min.css" )
			block js
				script( src="/jquery/jquery.min.js" )
				script( src="/bootstrap/js/bootstrap.bundle.min.js" )
				script( src="/clipboard/clipboard.min.js" )
				script( src="/js/script.js" )
				if kioskMode
					script( src="/js/kiosk.js" )
	body( class=( dev ? 'dev' : '' ) class=( kioskMode ? 'kiosk' : '' ) )
		block navbar
			include partials/navbar.pug
		div( class=(wide?"container-fluid":"container"))
			.row
				.col-12
					block header
						h2=heading
				block flash
					.col-12
						include partials/flash.pug
				.col-12
					block contents
				block footer
					.col-12
						hr
					.col-9
						small.text-muted #{config.app_name} &mdash;
							if config.org_name
								|  #{config.org_name} &mdash;
							|  
							a.text-muted( href="https://github.com/creativetechnologylab/checkout", target="_blank" ) Contribute on GitHub
					.col-3
						p.text-right: small: a.text-muted( href=`https://github.com/creativetechnologylab/checkout/commit/${git}`, target="_blank" )=git
