if actions && actions.length > 0
	for action in actions
		.list-group-item.action
			
			//- Icon
			if action.action == 'issued'
				span.icon.fas.fa-sign-out-alt
			else if action.action == 'returned'
				span.icon.fas.fa-sign-in-alt
			else if action.action == 'broken'
				span.icon.fas.fa-heart-broken
			else if action.action == 'lost'
				span.icon.fas.fa-compass
			else if action.action == 'repaired'
				span.icon.fas.fa-heart
			else if action.action == 'found'
				span.icon.fas.fa-check
			else if action.action == 'sold'
				span.icon.fas.fa-cash-register
			else if action.action == 'replaced'
				span.icon.fas.fa-money-bill

			//- Who
			if action.owner_name
				span.clipboard( data-clipboard-text=action.owner_barcode )=action.owner_name
				|  
			
			//- Did What
			if action.action
				strong=action.action
				|  

			//- To What
			span.clipboard( data-clipboard-text=action.item_barcode )=action.item_name
			
			//- Marked as
			if action.action == 'lost' || action.action == 'broken' || action.action == 'repaired' || action.action == 'found'
				|  was marked as 
				strong=action.action
				
			//- Actioned by
			|  by 
			span.clipboard( data-clipboard-text=action.operator_barcode )=action.operator_name
			
			//- When
			span.badge( title=moment( action.datetime ).format( 'HH:mm:ss D/M/Y' ) )=moment( action.datetime ).fromNow()
