.panel.panel-primary( data-barcode=user.barcode, data-type='user' )
	.panel-heading
		h3.panel-title
			span.glyphicon.glyphicon-user
			|  
			a( href="/users/" + user._id ) #{ user.name }
	.panel-body
		dl.dl-horizontal
			dt Barcode
			dd: span.clipboard( data-clipboard-text=user.barcode )=user.barcode
			dt Email
			dd: a( href="mailto:" + user.email )  #{ user.email }
			dt Course
			- course = user.course
			dd: include ../../../apps/courses/views/partials/course.pug
			dt Year
			if user.year
				dd=user.year.name
			else
				dd –
		if onloan.length > 0
			h3 On Loan

	if onloan.length > 0
		table.table.table-striped
			thead
				tr
					th Name
					th Barcode
					th Date
					th Time
			tbody
				for item in onloan
					tr
						- last = item.transactions.length - 1
						td: a( href="/items/" + item._id )=item.name
						td: span.clipboard( data-clipboard-text=item.barcode )=item.barcode
						td=moment( item.transactions[last].date ).format( 'DD/MM/YYYY' )
						td=moment( item.transactions[last].date ).format( 'HH:MM:SS' )
