include ../partials/mixins.pug

.panel.panel-primary( data-barcode=user.barcode, data-type='user' )
	.panel-heading
		h3.panel-title
			span.glyphicon.glyphicon-user
			|  
			a( href="/users/" + user.id ) #{ user.name }
	.panel-body
		dl.dl-horizontal
			dt Barcode
			dd: span.clipboard( data-clipboard-text=user.barcode )=user.barcode
			dt Email
			dd: a( href="mailto:" + user.email )  #{ user.email }
			dt Course
			dd
				if user.course_id
					a( href="/users?course=" + user.course_id )=user.course_name
				else
					| &mdash;
			dt Year
			dd
				if user.year_id
					a( href="/users?year=" + user.year_id )=user.year_name
				else
					| &mdash;
			if user.disable
				dt Account disabled
				dd Yes
		if onloan.length > 0
			h3 On Loan

	if onloan.length > 0
		table.table.table-striped
			thead
				tr
					th Name
					th Barcode
					th When
			tbody
				for item in onloan
					tr
						td: a( href="/items/" + item.id )=item.name
						td: span.clipboard( data-clipboard-text=item.barcode )=item.barcode
						td: +fulldate( item.updated )
