mixin csrf
	input( type="hidden", name="_csrf", value=csrf )

mixin clipboard( text )
	span( data-clipboard-text=text, title="Click to copy" ).clipboard=text

mixin email( address )
	a( href="mailto:" + address )=address

mixin fulldate( date )
	if date
		time( datetime=moment( date ).toISOString(), title=moment( date ).format( 'DD/MM/YYYY HH:mm:ss ZZ' ) )=moment( date ).format( 'DD/MM/YYYY HH:mm' )
	else
		| –

mixin date( date )
	if date
		time( datetime=moment( date ).toISOString(), title=moment( date ).format( 'DD/MM/YYYY' ) )=moment( date ).format( 'DD/MM/YYYY' )
	else
		| –

mixin relative( date, alert )
	if date
		time( datetime=moment( date ).toISOString(), title=moment( date ).format( 'DD/MM/YYYY HH:mm:ss ZZ' ), class=(moment(date).isBefore()&&alert?'text-danger':null) )=moment( date ).fromNow()
	else
		| –

mixin messageBlock( bg, fg, text )
	p.p-3.mt-3(class=`bg-${bg} text-${fg}`)=text

mixin item( name, id, url )
	if name
		if currentUserCan('items_read')
			a( href=`/items/${id}` title=`View item: ${name}`  )=name
		else
			| #{name}
		if currentUserCan('items_edit') && !multi
			+actionBtn('pencil-alt', `/items/${id}/edit`, `Edit item: ${name}`)
		if url && !multi
			+actionBtn('globe', url, 'View Item', '_blank')
	else
		| &mdash;

mixin user( name, id )
	if name
		if currentUserCan('users_read')
			a( href=`/users/${id}` title=`View user: ${name}`  )=name
		else
			| #{name}
		if currentUserCan('users_edit') && !multi
			+actionBtn('pencil-alt', `/users/${id}/edit`, `Edit user: ${name}`)
	else
		| &mdash;

mixin role( name, id )
	if name
		if currentUserCan('users_read')
			a( href=`/users/?role=${id}` title=`View users in role: ${name}`  )=name
		else
			| #{name}
		if currentUserCan('roles_edit') && !multi
			+actionBtn('pencil-alt', `/roles/${id}/edit`, `Edit role: ${name}`)
	else
		| &mdash;

mixin course( name, id )
	if name
		if currentUserCan('users_read')
			a( href=`/users/?course=${id}` title=`View users in course: ${name}`  )=name
		else
			| #{name}
		if currentUserCan('courses_edit') && !multi
			+actionBtn('pencil-alt', `/courses/${id}/edit`, `Edit course: ${name}`)
	else
		| &mdash;

mixin year( name, id )
	if name
		if currentUserCan('users_read')
			a( href=`/users/?year=${id}` title=`View users in year: ${name}`  )=name
		else
			| #{name}
		if currentUserCan('years_edit') && !multi
			+actionBtn('pencil-alt', `/years/${id}/edit`, `Edit year: ${name}`)
	else
		| &mdash;

mixin location( name, id )
	if name
		if currentUserCan('items_read')
			a( href=`/items/?location=${id}` title=`View items in location: ${name}`  )=name
		else
			| #{name}
		if currentUserCan('locations_edit') && !multi
			+actionBtn('pencil-alt', `/locations/${id}/edit`, `Edit location: ${name}`)
	else
		| &mdash;
		
mixin department( name, id )
	if name
		if currentUserCan('items_read')
			a( href=`/items/?department=${id}` title=`View items in department: ${name}`  )=name
		else
			| #{name}
		if currentUserCan('departments_edit') && !multi
			+actionBtn('pencil-alt', `/departments/${id}/edit`, `Edit department: ${name}`)
	else
		| &mdash;
		
mixin group( name, id )
	if name
		if currentUserCan('items_read')
			a( href=`/items/?group=${id}` title=`View items in group: ${name}`  )=name
		else
			| #{name}
		if currentUserCan('groups_edit') && !multi
			+actionBtn('pencil-alt', `/groups/${id}/edit`, `Edit group: ${name}`)
	else
		| &mdash;

mixin btn( size, colour, icon, text, url, title, margin )
	a.btn(href=url class=`btn-${size} btn-${colour} ${margin ? margin : `me-2`}` title=title)
		span.fas(class=`fa-${icon}`)
		if text
			|  #{text}

mixin labelBtn( url )
	+btn( 'sm', 'outline-info', 'print', 'Label', url )

mixin compactLabelBtn( url )
	+btn( 'sm', 'outline-secondary', 'print', '', url )

mixin editBtn( url )
	+btn( 'sm', 'outline-primary', 'pencil-alt', 'Edit', url )

mixin compactEditBtn( url )
	+btn( 'sm', 'outline-primary', 'pencil-alt', '', url )

mixin removeBtn( url )
	+btn( 'sm', 'outline-danger', 'trash-alt', 'Remove', url )

mixin compactDeleteBtn( url )
	+btn( 'sm', 'outline-danger', 'trash', '', url )

mixin sortItemHead(text, slug, sort_by, sort_dir, selected, filter_path, sortable)
	- sort_by = sort_by.split('_')[0]
	if sort_dir == 'desc' || sort_by != slug
		- alt_dir = 'asc'
	else
		- alt_dir = 'desc'

	if selected
		- status = (selected.status ? selected.status : '')
		- location = (selected.location ? selected.location : '')
		- department = (selected.department ? selected.department : '')
		- group = (selected.group ? selected.group : '')
		- course = (selected.course ? selected.course : '')
		- year = (selected.year ? selected.year : '')
		- due = (selected.due ? selected.due : '')
		- audited = (selected.audited ? selected.audited : '')
		- scanned = (selected.scanned ? selected.scanned : '')
	
	if sortable
		a(href=`${filter_path}?status=${status}&location=${location}&department=${department}&group=${group}&course=${course}&year=${year}&due=${due}&audited=${audited}&scanned=${scanned}&sortby=${slug}&direction=${alt_dir}`)=text
	else
		| #{text}
	if sort_by == slug
		|  
		span.fas( class=( sort_dir == 'asc' ? 'fa-angle-up' : 'fa-angle-down' ) ).text-muted

mixin sortUserHead( text, slug, sort_by, sort_dir, selected )
	if sort_dir == 'desc' || sort_by != slug
		- alt_dir = 'asc'
	else
		- alt_dir = 'desc'

	if selected
		- status = (selected.status ? selected.status : '')
		- role = (selected.role ? selected.role : '')
		- course = (selected.course ? selected.course : '')
		- year = (selected.year ? selected.year : '')
	
	a( href=`${filter_path}?status=${status}&role=${role}&course=${course}&year=${year}&sortby=${slug}&direction=${alt_dir}` )=text
	if sort_by == slug
		|  
		span.fas( class=( sort_dir == 'asc' ? 'fa-angle-up' : 'fa-angle-down' ) ).text-muted

mixin status( status )
	if status == 'available'
		span.badge.text-bg-success Available
	else if status == 'returned'
		span.badge.text-bg-success Returned
	else if status == 'found'
		span.badge.text-bg-success Found
	else if status == 'repaired'
		span.badge.text-bg-success Repaired
	else if status == 'on-loan'
		span.badge.text-bg-danger On Loan
	else if status == 'broken'
		span.badge.text-bg-warning Broken
	else if status == 'lost'
		span.badge.text-bg-warning Lost
	else if status == 'sold'
		span.badge.text-bg-secondary Sold
	else if status == 'issued'
		span.badge.text-bg-danger Issued
	else if status == 'replaced'
		span.badge.text-bg-success Replaced
	else if status == 'unavailable'
		span.badge.text-bg-info Unavailable
	else if status == 'audited'
		span.badge.text-bg-secondary Audited
	else if status == 'reserve'
		span.badge.text-bg-danger Reserve
	else if status == 'maintenance'
		span.badge.text-bg-primary Maintenance
	else
		span.badge.badge-info=status

mixin statusPill( status )
	if status == 'available'
		span.badge.text-bg-success(title='Available') &nbsp
	else if status == 'returned'
		span.badge.text-bg-success(title='Returned') &nbsp;
	else if status == 'found'
		span.badge.text-bg-success(title='Found') &nbsp;
	else if status == 'repaired'
		span.badge.text-bg-success(title='Repaired') &nbsp;
	else if status == 'on-loan'
		span.badge.text-bg-danger(title='On Loan') &nbsp;
	else if status == 'broken'
		span.badge.text-bg-warning(title='Broken') &nbsp;
	else if status == 'lost'
		span.badge.text-bg-warning(title='Lost') &nbsp;
	else if status == 'issued'
		span.badge.text-bg-danger(title='Issued') &nbsp;
	else if status == 'sold'
		span.badge.text-bg-secondary(title='Sold') &nbsp;
	else if status == 'unavailable'
		span.badge.text-bg-info(title='Unavailable') &nbsp;
	else if status == 'audited'
		span.badge.text-bg-secondary(title='Audited') &nbsp;
	else if status == 'reserve'
		span.badge.text-bg-danger(title='Reserve') &nbsp;
	else if status == 'maintenance'
		span.badge.text-bg-primary(title='Maintenance') &nbsp;
	else
		span.badge.text-bg-info(title=status) &nbsp;

mixin search 
	.input-group.input-group-sm#searchText
		span.input-group-text: span.fa.fa-search
		input(type="text" placeholder="Search").form-control

mixin actionBtn(icon, url, title, target, text)
	|  
	small: a(href=url title=title target=target).actionBtn
		span.fas(class=`fa-${icon}`)
		|  #{text}