nav.navbar.navbar-expand-md.sticky-top
	.container-fluid.col-lg-2.col-md-3.brand
		a(href="/").navbar-brand.d-flex.align-items-center
			img(src="/imgs/logo.svg").d-inline-block.align-text-top
			| #{Options.get('application_name')}
		button.navbar-toggler.ms-auto(type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle sidebar")
				span.navbar-toggler-icon

	if loggedInUser
		.container-fluid.col-lg-10.col-md-9.p-0
			.navbar-collapse.collapse
				if currentUserCan('global_search')
					input#search.form-control.w-100(type="search" placeholder="Search" aria-label="Search" autocomplete="off")
				
				.navbar-nav.ms-auto
					if currentUserCan('print') && printers && printers.length > 1
						.nav-item.dropdown
							a.nav-link.dropdown-toggle(href="#" id="topMenuPrinterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")
								span.fas.fa-print
								|  
								span.printer=loggedInUser.printer_label
							ul.dropdown-menu.dropdown-menu-end(aria-labelledby="topMenuPrinterDropdown")
								for printer in printers
									li: a.dropdown-item.printer(data-printer=printer.id)
										| #{printer.name} 
										span.badge.rounded-pill.text-bg-secondary=printer.label
										
								
					//- Future Feature
					//- if currentUserCan('users_email')
						.nav-item.dropdown
							a.nav-link.dropdown-toggle(href="#" id="topMenuEmailDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")
								span.fas.fa-envelope
								|  Polite
							ul.dropdown-menu.dropdown-menu-end(aria-labelledby="topMenuEmailDropdown")
								li: a.dropdown-item(href="?") Polite Email
								li: a.dropdown-item(href="?") Summer Show
								li: a.dropdown-item(href="?") Christmas 2022
					if currentUserCan('edit_profile')
						.nav-item.no-wrap: a.nav-link.text-nowrap.actionBtn(href="/profile")
							span.fas.fa-user
							|  #{loggedInUser.name}
					else
						.nav-item: .navbar-text.text-nowrap
							span.fas.fa-user
							|  #{loggedInUser.name}
					.nav-item.me-2: a.nav-link.actionBtn(href=kioskMode ? "/kiosk/logout" : "/logout")
						span.fas.fa-sign-out-alt