form(method="post")
	+csrf

	.form-group.row.mb-3
		label(for="name").col-lg-2.col-form-label Name
		.col-lg-4
			input#name(name="name" type="text" value=(item ? item.name : '') required).form-control

	.form-group.row.mb-3
		label(for="barcode").col-lg-2.col-form-label Barcode
		.col-lg-4
			.input-group
				span.input-group-text
					span.fas.fa-qrcode
				input#barcode(name="barcode" type="text" value=(item ? item.barcode : '') autocomplete="off" required).form-control

	.form-group.row.mb-3
		label(for="label").col-lg-2.col-form-label Label
		.col-lg-4
			select#label(name="label" required).form-select.form-control
				option(value="12mm" selected=('12mm' == (item ? item.label : ''))) 12mm Label
				option(value="9mm" selected=('9mm' == (item ? item.label : ''))) 9mm Label
				option(value="12mm_flag" selected=('12mm_flag' == (item ? item.label : ''))) 12mm Flag

	.form-group.row.mb-3
		label(for="location").col-lg-2.col-form-label Location
		.col-lg-4
			select#location(name="location" required).form-select.form-control
				option(value="" disabled selected) Select a location
				for location in locations
					option(value=location.id selected=(location.id == (item ? item.location_id : ''))) #{ location.name }
						if location.barcode
							|  [#{location.barcode}]

	.form-group.row.mb-3
		label(for="group").col-lg-2.col-form-label Group
		.col-lg-4
			select#group(name="group").form-select.form-control
				option(value="" selected) Select a group
				for group in groups
					option(value=group.id selected=(group.id == (item ? item.group_id : '')))=group.name

	.form-group.row.mb-3
		label(for="department").col-lg-2.col-form-label Department
		.col-lg-4
			select#department(name="department").form-select.form-control
				option(value="" selected) Select a department
				for department in departments
					option(value=department.id selected=(department.id == (item ? item.department_id : '')))=department.name

	.form-group.row.mb-3
		label(for="value").col-lg-2.col-form-label Value
		.col-lg-4
			.input-group
				span.input-group-text &pound;
				input#value(name="value" type="number" step="0.01" value=(item ? item.value : '')).form-control

	.form-group.row.mb-3
		label(for="serialnumber").col-lg-2.col-form-label Serial number
		.col-lg-4
			input#serialnumber(name="serialnumber" type="text" value=(item ? item.serialnumber : '')).form-control

	.form-group.row.mb-3
		label(for="info_url").col-lg-2.col-form-label Information URL
		.col-lg-4
			input#info_url(name="info_url" type="text" value=(item ? item.info_url : '')).form-control

	.form-group.row.mb-3
		label(for="notes").col-lg-2.col-form-label Notes
		.col-lg-4
			textarea#notes(name="notes" type="text").form-control #{ item ? item.notes : '' }

	.form-group.row.mb-3
		label(for="alert_msg").col-lg-2.col-form-label Alert Message
		.col-lg-4
			textarea#alert_msg(name="alert_msg" type="text").form-control #{ item ? item.alert_msg : '' }

	.form-group.row.mb-3
		.col-lg-4.offset-lg-2
			.checkbox
				label(for="loanable")
						input#loanable(name="loanable" type="checkbox" value='true' checked=(item ? item.loanable : true))
						|  Item is loanable

	.form-group.row.mb-3
		.col-lg-4.offset-lg-2
			.checkbox
				label(for="print")
					if action == 'Create'
						input#print(name="print" type="checkbox" checked)
						|  Print Barcode Labels
					if action == 'Update'
						input#print(name="print" type="checkbox")
						|  Reprint Barcode Labels

	.form-group.row.mb-3
		.col-lg-4.offset-lg-2
			button(type="submit").btn.btn-primary=action
