- status = item.status
h4: include status.pug
dl.dl-horizontal
	dt Barcode
	dd: span( data-clipboard-text=item.barcode ).clipboard=item.barcode
	dt Location
	dd
		if item.location_name
			a( href="/locations/" + item.location_id + '/edit' )=item.location_name
		else
			| &mdash;
	dt Group
	dd
		if item.group_id
			a( href="/groups/" + item.group_id + '/edit' )=item.group_name
		else
			| &mdash;
	if item.value
		dt Value
		dd £#{ item.value }
	if item.notes
		dt Notes
		dd #{ item.notes }
