if items && items.length > 0
	.table-responsive
		table.table.table-striped
			thead
				tr
					if edit
						th
							input( type="checkbox", title="Check All", checked=edit_items ).checkall
					th
						if multi
							| Status
						else
							+sortItemHead( 'Status', 'status', sortby, direction, selected, filter_path )
					th
						if multi
							| Barcode
							span.dropup
								span.caret
						else
							+sortItemHead( 'Barcode', 'barcode', sortby, direction, selected, filter_path )
					th
						if multi
							| Name
						else
							+sortItemHead( 'Name', 'name', sortby, direction, selected, filter_path )
					th
						if multi
							| Group
						else
							+sortItemHead( 'Group', 'group', sortby, direction, selected, filter_path )
					th 
						if multi
							| Location
						else
							+sortItemHead( 'Location', 'location', sortby, direction, selected, filter_path )
					th 
						if multi
							| Department
						else
							+sortItemHead( 'Department', 'department', sortby, direction, selected, filter_path )
					th
						if multi
							| Value
						else
							+sortItemHead( 'Value', 'value', sortby, direction, selected, filter_path )
					if ! multi
						th: +sortItemHead( 'Owner', 'owner', sortby, direction, selected, filter_path )
						th: small: +sortItemHead( 'Course', 'course', sortby, direction, selected, filter_path )
						th: small: +sortItemHead( 'Year', 'year', sortby, direction, selected, filter_path )
								
					//- Manage
					if edit
						th Manage
			tbody
				- item_total = 0
				for item in items
					tr
						if edit
							td: input( type="checkbox", name="edit", value=item.id, checked=multi )
						td: +status( item.status )
						td: +clipboard( item.barcode )
						td: +item( item.name, item.id )
						td: +group( item.group_name, item.group_id )
						td: +location( item.location_name, item.location_id )
						td: +department( item.department_name, item.department_id )
						
						//- Value
						if parseFloat( item.value ) > 0
							- value = parseFloat( item.value )
						else
							- value = 0
						
						- item_total = ( item_total + value )
						td £#{ value.toFixed(2) }
						if ! multi
							if item.owner_id
								td: +user( item.owner_name, item.owner_id )
								td: small: +course( item.owner_course_name, item.owner_course_id )
								td: small: +year( item.owner_year_name, item.owner_year_id )
							else
								td( colspan=3 )
									| &mdash;
								
							//- Manage	
							if edit
								td
									if loggedInUser.printer_id
										+compactLabelBtn( "/items/" + item.id + "/label?printer=" + loggedInUser.printer_id )
										+space
									+compactEditBtn( "/items/" + item.id + '/edit' )
									+space
									+compactDeleteBtn( "/items/" + item.id + '/remove' )
			tfoot
				tr
					if edit
						th
					th( colspan="6" ) Total
					th £#{ item_total.toFixed(2) }
					th( colspan="4" )
else
	+messageBlock( 'warning', 'There are no items to display.' )
